﻿@model bankApp.Models.CUSTOMER

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CUSTOMER</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ADDRESS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADDRESS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CITY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CITY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUST_TYPE_CD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUST_TYPE_CD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FED_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FED_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POSTAL_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POSTAL_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BUSINESS.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUSINESS.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INDIVIDUAL.FIRST_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INDIVIDUAL.FIRST_NAME)
        </dd>

    </dl>
    <hr />
    <div>
        <table class="table">
            <tr>
                <th>
                    STATUS
                </th>
                <th>
                    BRANCH.ADDRESS
                </th>
                <th>
                    CUSTOMER.ADDRESS
                </th>
                <th>
                    EMPLOYEE.FIRST_NAME
                </th>
                <th>
                    PRODUCT.NAME
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.ACCOUNTs)
            {
                <tr>
                    <td style="background-color: yellowgreen;">
                        @item.STATUS
                    </td>
                    <td style="background-color: yellowgreen;">
                        @item.BRANCH.ADDRESS
                    </td>
                    <td style="background-color: yellowgreen;">
                        @item.CUSTOMER.ADDRESS
                    </td>
                    <td style="background-color: yellowgreen;">
                        @item.EMPLOYEE.FIRST_NAME
                    </td>
                    <td style="background-color: yellowgreen;">
                        @item.PRODUCT.NAME
                    </td>
                    <th>
                        <a href="/ACCOUNTs/Edit/@item.ACCOUNT_ID">Edit</a>
                    </th>
                </tr>
                <tr>
                    <td>
                        Transfer History
                    </td>
                    <td colspan="4">
                        @RenderPage("~/Views/View1.cshtml", new { Model = item.ACC_TRANSACTION })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CUST_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
